cpw/
ibxm/
net/
paulscode/
*.cfg
*.properties
*.png
Start.java
mcpmod.info

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Stuff created by the buildfile
build/
downloads/